# ASP.NET Core
bin/
obj/
wwwroot/

# User Secrets (development secrets)
secrets.json

# User configuration files
appsettings.Development.json
appsettings.json

# Environment variables (not for production)
.env

# IDE and editor directories and files
.vscode/
.idea/
*.user
*.suo

# Logs
*.log

# Microsoft Azure credentials and config files
*.publishsettings

# Docker
.docker/
docker-compose.override.yml
Dockerfile*

# .NET build output
*.dll
*.exe
*.pdb
*.cache
*.gz
*.zip
*.tar
*.tar.gz

# NPM and Node.js
node_modules/
npm-debug.log

# Other sensitive files
*.pem
*.key
*.crt

# JetBrains Rider
.idea/
.idea/.idea/

# Windows-specific
Thumbs.db
Desktop.ini

# Mac-specific
.DS_Store

# Local database files (use this if you have local DB for development)
app_data/

# Migrations 
Migrations
.vs/EMS/FileContentIndex/35714419-d543-4bc5-ae64-d887a72902c5.vsidx
.vs/EMS/FileContentIndex/a90c065e-a2ba-4e74-a36a-d8c4f08e1529.vsidx
.vs/EMS/FileContentIndex/c457fe2b-a51d-4e4b-9123-373161752c21.vsidx
.vs/EMS/FileContentIndex/c66eb012-dedf-4487-802c-d640c59edc97.vsidx
.vs/EMS/v17/DocumentLayout.backup.json
.vs/EMS/v17/DocumentLayout.json
.vs/EMS/FileContentIndex/a90c065e-a2ba-4e74-a36a-d8c4f08e1529.vsidx
.vs/EMS/FileContentIndex/c457fe2b-a51d-4e4b-9123-373161752c21.vsidx
.vs/EMS/v17/DocumentLayout.backup.json
.vs/EMS/v17/DocumentLayout.json
